
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc

db.sqlite3


*/__pycache__

__pycache__

__pycache__/*
accounts/__pycache__/__init__.cpython-37.pyc
accounts/__pycache__/admin.cpython-37.pyc
accounts/__pycache__/forms.cpython-37.pyc
accounts/__pycache__/models.cpython-37.pyc
accounts/__pycache__/urls.cpython-37.pyc
accounts/__pycache__/views.cpython-37.pyc
accounts/migrations/__pycache__/0001_initial.cpython-37.pyc
accounts/migrations/__pycache__/0002_auto_20200819_1608.cpython-37.pyc
accounts/migrations/__pycache__/__init__.cpython-37.pyc
board/__pycache__/__init__.cpython-37.pyc
board/__pycache__/admin.cpython-37.pyc
board/__pycache__/forms.cpython-37.pyc
board/__pycache__/models.cpython-37.pyc
board/__pycache__/urls.cpython-37.pyc
board/__pycache__/views.cpython-37.pyc
board/migrations/__pycache__/0001_initial.cpython-37.pyc
