{% extends 'header.html' %}
{% load static %}

{% block extrahead %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/write.css' %}" type="text/css" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22"></script>
    
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22&submodules=geocoder"></script>

{% endblock %}

{% block content %}


<form class="write_form" action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
<div class="contianer">
    {% csrf_token %}
    
    {% for field in write_form %}
        {% if field.label == "제목" or field.label == "내용" %}
        <div class="row">
            <div class="fd_label">{{ field.label }}</div>
            <div class="field">{{ field }}</div>
        </div>
        {% elif field.label == "캠프 타입" %}
        <div class="row">
        <a class="fd_label">{{ field.label }} : </a>
        <a class="field">{{ field }}</a>
        </div>
        {% endif %}
    <!-- {{form.as_p}} summernote -->
    {% endfor %}

    <div class="row">
    {% for field in write_form %}
        {% if field.label == '화장실' or field.label == '샤워실' or field.label == '취사장' %}
            <a class="fd_label">{{ field.label }} : </a>
            <a class="field">{{ field }}</a> &emsp;
        {% endif %}
    {% endfor %}
    </div>

    <div class="row">
        {% for field in write_form %}
            {% if field.label == '전기시설' or field.label == '상하수시설' or field.label == '화재관련시설' %}
                <a class="fd_label">{{ field.label }} : </a>
                <a class="field">{{ field }}</a> &emsp;
            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        {% for field in write_form %}
            {% if field.label == '야영 가능한 사이트 수' %}
                <a class="fd_label">{{ field.label }} : </a>
                <a class="field">{{ field }}</a> &emsp;
            {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        {% for field in write_form %}
        {% if field.label == '최소이용가격' or field.label == '최대이용가격' %}
        <a class="fd_label">{{ field.label }} : </a>
        <a class="field">{{ field }}</a> &emsp;
        {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <div id="map" style="width:100%;height:400px;">
    
            <script>
                var map = new naver.maps.Map("map", {
                    center: new naver.maps.LatLng('{{lat}}', '{{long}}'),
                    zoom: 15,
                    mapTypeControl: true
                });

                var infoWindow = new naver.maps.InfoWindow({
                    anchorSkew: true
                });

                var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng('{{lat}}', '{{long}}'),
                    map: map
                });

                naver.maps.Event.addListener(map, 'click', function (e) {
                    marker.setPosition(e.latlng),
                        map.setCursor('pointer');


                });




                function searchCoordinateToAddress(latlng) {

                    infoWindow.close();

                    naver.maps.Service.reverseGeocode({
                        coords: latlng,
                        orders: [
                            naver.maps.Service.OrderType.ADDR,
                            naver.maps.Service.OrderType.ROAD_ADDR
                        ].join(',')
                    }, function (status, response) {
                        if (status === naver.maps.Service.Status.ERROR) {
                            if (!latlng) {
                                return alert('ReverseGeocode Error, Please check latlng');
                            }
                            if (latlng.toString) {
                                return alert('ReverseGeocode Error, latlng:' + latlng.toString());
                            }
                            if (latlng.x && latlng.y) {
                                return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
                            }
                            return alert('ReverseGeocode Error, Please check latlng');
                        }

                        var address = response.v2.address,
                            htmlAddresses = [];

                        if (address.jibunAddress !== '') {
                            htmlAddresses.push('[지번 주소] ' + address.jibunAddress);
                        }
                        if (address.jibunAddress !== '') {
                            htmlAddresses.push('[경도 위도] ' + address.latlng);
                        }

                        if (address.roadAddress !== '') {
                            htmlAddresses.push('[도로명 주소] ' + address.roadAddress);
                        }

                        infoWindow.setContent([
                            '<div style="padding:10px;min-width:200px;line-height:150%;">',
                            '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
                            htmlAddresses.join('<br />'),
                            '</div>'
                        ].join('\n'));

                        infoWindow.open(map, latlng);
                        console.log('address: ', address['jibunAddress']);

                        document.querySelector("#id_position_latitude").value = latlng['_lat'];
                        document.querySelector("#id_position_longitude").value = latlng['_lng'];
                        document.querySelector("#id_address").value = address['jibunAddress'];
                    });
                }

                function searchAddressToCoordinate(address) {
                    naver.maps.Service.geocode({
                        query: address
                    }, function (status, response) {
                        if (status === naver.maps.Service.Status.ERROR) {
                            if (!address) {
                                return alert('Geocode Error, Please check address');
                            }
                            return alert('Geocode Error, address:' + address);
                        }

                        if (response.v2.meta.totalCount === 0) {
                            return alert('No result.');
                        }

                        var htmlAddresses = [],
                            item = response.v2.addresses[0],
                            point = new naver.maps.Point(item.x, item.y);


                        if (item.roadAddress) {
                            htmlAddresses.push('[도로명 주소] ' + item.roadAddress);

                        }

                        if (item.jibunAddress) {
                            htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
                        }

                        if (item.englishAddress) {
                            htmlAddresses.push('[영문명 주소] ' + item.englishAddress);

                        }

                        infoWindow.setContent([
                            '<div style="padding:10px;min-width:200px;line-height:150%;">',
                            '<h4 style="margin-top:5px;">검색 주소 : ' + address + '</h4><br />',
                            htmlAddresses.join('<br />'),
                            '</div>'
                        ].join('\n'));

                        map.setCenter(point);
                        infoWindow.open(map, point);
                        console.log('도로명 주소: ', point);
                    });
                }

                function initGeocoder() {
                    if (!map.isStyleMapReady) {
                        return;
                    }

                    map.addListener('click', function (e) {
                        searchCoordinateToAddress(e.coord);
                    });

                    $('#address').on('keydown', function (e) {
                        var keyCode = e.which;

                        if (keyCode === 13) { // Enter Key
                            searchAddressToCoordinate($('#address').val());
                        }
                    });

                    $('#submit').on('click', function (e) {
                        e.preventDefault();

                        searchAddressToCoordinate($('#address').val());
                    });

                    searchAddressToCoordinate('정자동 178-1');
                }

                naver.maps.onJSContentLoaded = initGeocoder;
                naver.maps.Event.once(map, 'init_stylemap', initGeocoder);



                // 지도 인터랙션 옵션
                $("#interaction").on("click", function (e) {
                    e.preventDefault();

                    if (map.getOptions("draggable")) {
                        map.setOptions({ //지도 인터랙션 끄기
                            draggable: false,
                            pinchZoom: false,
                            scrollWheel: false,
                            keyboardShortcuts: false,
                            disableDoubleTapZoom: true,
                            disableDoubleClickZoom: true,
                            disableTwoFingerTapZoom: true
                        });

                        $(this).removeClass("control-on");
                    } else {
                        map.setOptions({ //지도 인터랙션 켜기
                            draggable: true,
                            pinchZoom: true,
                            scrollWheel: true,
                            keyboardShortcuts: true,
                            disableDoubleTapZoom: false,
                            disableDoubleClickZoom: false,
                            disableTwoFingerTapZoom: false
                        });

                        $(this).addClass("control-on");
                    }
                });

                // 관성 드래깅 옵션
                $("#kinetic").on("click", function (e) {
                    e.preventDefault();

                    if (map.getOptions("disableKineticPan")) {
                        map.setOptions("disableKineticPan", false); //관성 드래깅 켜기
                        $(this).addClass("control-on");
                    } else {
                        map.setOptions("disableKineticPan", true); //관성 드래깅 끄기
                        $(this).removeClass("control-on");
                    }
                });

                // 타일 fadeIn 효과
                $("#tile-transition").on("click", function (e) {
                    e.preventDefault();

                    if (map.getOptions("tileTransition")) {
                        map.setOptions("tileTransition", false); //타일 fadeIn 효과 끄기

                        $(this).removeClass("control-on");
                    } else {
                        map.setOptions("tileTransition", true); //타일 fadeIn 효과 켜기
                        $(this).addClass("control-on");
                    }
                });

                // min/max 줌 레벨
                $("#min-max-zoom").on("click", function (e) {
                    e.preventDefault();

                    if (map.getOptions("minZoom") === 10) {
                        map.setOptions({
                            minZoom: 7,
                            maxZoom: 21
                        });
                        $(this).val(this.name + ': 7 ~ 21');
                    } else {
                        map.setOptions({
                            minZoom: 10,
                            maxZoom: 21
                        });
                        $(this).val(this.name + ': 10 ~ 21');
                    }
                });

                //지도 컨트롤
                $("#controls").on("click", function (e) {
                    e.preventDefault();

                    if (map.getOptions("scaleControl")) {
                        map.setOptions({ //모든 지도 컨트롤 숨기기
                            scaleControl: false,
                            logoControl: false,
                            mapDataControl: false,
                            zoomControl: false,
                            mapTypeControl: false
                        });
                        $(this).removeClass('control-on');
                    } else {
                        map.setOptions({ //모든 지도 컨트롤 보이기
                            scaleControl: true,
                            logoControl: true,
                            mapDataControl: true,
                            zoomControl: true,
                            mapTypeControl: true
                        });
                        $(this).addClass('control-on');
                    }
                });

                $("#interaction, #tile-transition, #controls").addClass("control-on");

            </script>
    
    
        </div>
    
    </div>
    
    <input type="hidden" id="lat" value="" name="click_lat">
    <input type="hidden" id="lng" value="" name="click_lng">

    <div class="row">
    {% for field in write_form %}
        {% if field.label == "주소" %}
            <div class="fd_label">{{ field.label }}</div>
            <div class="field">{{ field }}</div>
        {% elif field.label == "위도" %}
            <div class="fd_label">{{ field.label }}</div>
            <div class="field">{{ field }}</div>
        {% elif field.label == "경도" %}
            <div class="fd_label">{{ field.label }}</div>
            <div class="field">{{ field }}</div>
        {% endif %}
    {% endfor %}
    </div>

    <button class="write_btn" type="submit">작성</button>
</form>
</div>

{% endblock %}