html{
    font-size:10px;
    text-decoration: none;
    letter-spacing: 1.5px;
}
body{
    margin:0;
}
a,a:visited{
    color:inherit;
    text-decoration: none;

}

nav{
    position:sticky;
    top:0;
    border-bottom: 2px solid #777;
   
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1.5rem;
     height:6rem;
   box-sizing: border-box;
   
   z-index:5;
   background-color:white;
}
nav a{
    font-size:1.5rem;
    font-weight:bold;
    margin-lefT:1rem;
}

.logo{
    font-size:2rem;
    font-weight:bold;
}

.container{
    display:flex;
     justify-content: space-between;
    align-items:center;
    flex-direction: column;
    width:80%;
    margin:10rem auto;
    font-size:1.5rem;
    
    
    position:relative;
    padding:4rem;
    box-sizing:border-box;
    
    background-color:#777;
}

*{
    box-sizing: border-box;
}