{% extends 'header.html' %}

{% load static %}

{% block extrahead %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{% static 'css/write.css' %}" type="text/css" />

<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22"></script>

<script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22&submodules=geocoder"></script>

{% endblock %}

{% block content %}

<body>
    <div class="contianer">
        <div class="row">
            <div id="map" style="width:100%;height:400px;">

    <script>

        var map = new naver.maps.Map("map", {
            center: new naver.maps.LatLng(35.154662, 129.059614),
            zoom: 15,
            mapTypeControl: true
        });


    </script>

    <div>
        {%for i in boards%}
        <script>

            var marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng('{{i.position_latitude}}', '{{i.position_longitude}}'),
                    map: map
                });


            var infowindow = new naver.maps.InfoWindow();
                
            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng('{{i.position_latitude}}', '{{i.position_longitude}}'),
                map: map,
                icon: {
                    content: '<p style="border:1px solid black; background-color:white; border-radius:15px;"></p><br>캠핑장 : {{i.title}}</p>'
                }
            });
            
            var infowindow = new naver.maps.InfoWindow();

                function onSuccessGeolocation(position) {
                    var location = new naver.maps.LatLng('{{i.position_latitude}}', '{{i.position_longitude}}');

                    infowindow.setContent('<div style="padding:20px;">' + 'geolocation.getCurrentPosition() 위치' + '</div>');

                    infowindow.open(map, location);
                }

                function onErrorGeolocation() {
                    var center = map.getCenter();

                    infowindow.setContent('<div style="padding:20px;">' +
                        '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>' + "latitude: " + center.lat() + "<br />longitude: " + center.lng() + '</div>');

                    infowindow.open(map, center);
                }

                $(window).on("load", function () {
                    if (navigator.geolocation) {
                        /**
                         * navigator.geolocation 은 Chrome 50 버젼 이후로 HTTP 환경에서 사용이 Deprecate 되어 HTTPS 환경에서만 사용 가능 합니다.
                         * http://localhost 에서는 사용이 가능하며, 테스트 목적으로, Chrome 의 바로가기를 만들어서 아래와 같이 설정하면 접속은 가능합니다.
                         * chrome.exe --unsafely-treat-insecure-origin-as-secure="http://example.com"
                         */
                        navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
                    } else {
                        var center = map.getCenter();
                        infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
                        infowindow.open(map, center);
                    }
                });

            


        </script>

        <b>{{i.position_latitude}}, {{i.position_longitude}}, {{i.address}}</b>
        <br>

        {%endfor%}
    </div>
    </div>
    </div>
</body>

</html>

{%endblock%}