{% extends 'header.html' %}

{% load static %}

{% block extrahead %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{% static 'css/write.css' %}" type="text/css" />

<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22"></script>

<script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22&submodules=geocoder"></script>

{% endblock %}

{% block content %}

<body>
    <div class="contianer">
        <div class="row">
            <div id="map" style="width:100%;height:400px;">

    <script>

        var map = new naver.maps.Map("map", {
            center: new naver.maps.LatLng(35.154662, 129.059614),
            zoom: 15,
            mapTypeControl: true
        });


    </script>

    <div>
        
        <script>

        var HOME_PATH = window.HOME_PATH || '.';
        
        var bounds = map.getBounds(),
        southWest = bounds.getSW(),
        northEast = bounds.getNE(),
        lngSpan = northEast.lng() - southWest.lng(),
        latSpan = northEast.lat() - southWest.lat();
        
        var markers = [],
        infoWindows = [];
        </script>

        {% for i in boards %}

        <script>
            var position= new naver.maps.LatLng('{{i.position_latitude}}', '{{i.position_longitude}}');

            var infowindow = new naver.maps.InfoWindow();

            var marker = new naver.maps.Marker({
                map: map,
                position: position,
                title: '{{i.title}}',
                icon: {
                    url: HOME_PATH + '/img/example/sp_pins_spot_v3.png',
                    size: new naver.maps.Size(24, 37),
                    anchor: new naver.maps.Point(12, 37),
                    origin: new naver.maps.Point('{{i.position_latitude}}', '{{i.position_longitude}}')
                },
                zIndex: 100
            });

            var infoWindow = new naver.maps.InfoWindow({
                content: '<div style="width:300px;text-align:center;padding:10px;"> 캠핑장명 : ' + '<b>' + '<a href="{%url "detail" i.id %}">'+ '{{ i.title }}' + '</a >' + '</b><br></div>'
            });

            markers.push(marker);
            infoWindows.push(infoWindow);
            



        </script>

        <b>{{i.position_latitude}}, {{i.position_longitude}}, {{i.address}}</b>
        <br>

        {%endfor%}

        <script>
            
                naver.maps.Event.addListener(map, 'idle', function () {
                    updateMarkers(map, markers);
                });

                function updateMarkers(map, markers) {

                    var mapBounds = map.getBounds();
                    var marker, position;

                    for (var i = 0; i < markers.length; i++) {

                        marker = markers[i]
                        position = marker.getPosition();

                        if (mapBounds.hasLatLng(position)) {
                            showMarker(map, marker);
                        } else {
                            hideMarker(map, marker);
                        }
                    }
                }

                function showMarker(map, marker) {

                    if (marker.setMap()) return;
                    marker.setMap(map);
                }

                function hideMarker(map, marker) {

                    if (!marker.setMap()) return;
                    marker.setMap(null);
                }

                // 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
                function getClickHandler(seq) {
                    return function (e) {
                        var marker = markers[seq],
                            infoWindow = infoWindows[seq];

                        if (infoWindow.getMap()) {
                            infoWindow.close();
                        } else {
                            infoWindow.open(map, marker);
                        }
                    }
                }

                for (var i = 0, ii = markers.length; i < ii; i++) {
                    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
                }


        </script>

    </div>
    </div>
    </div>
</body>

</html>

{%endblock%}