{% extends 'header.html' %}

{% load static %}

{% block extrahead %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{% static 'css/write.css' %}" type="text/css" />

<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22"></script>

<script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fd2ubf8w22&submodules=geocoder"></script>

{% endblock %}

{% block content %}

<body>
    <div class="contianer">
        <div class="row">
            <div id="map" style="width:100%;height:400px;">

    <script>

        var map = new naver.maps.Map("map", {
            center: new naver.maps.LatLng(35.154662, 129.059614),
            zoom: 15,
            mapTypeControl: true
        });


    </script>

    <div>
        {%for i in boards%}
        <script>
            var infoWindow = new naver.maps.InfoWindow({
                anchorSkew: true
            });
            var marker = new naver.maps.Marker({
                position: new naver.maps.LatLng('{{i.position_latitude}}', '{{i.position_longitude}}'),
                map: map,
                icon: {
                    content: '<p style="border:1px solid black; background-color:white; border-radius:15px;"></p><br>캠핑장 : {{i.title}}</p>'
                }
            });


        </script>

        <b>{{i.position_latitude}}, {{i.position_longitude}}, {{i.address}}</b>
        <br>

        {%endfor%}
    </div>
    </div>
    </div>
</body>

</html>

{%endblock%}