{% extends 'header.html' %}
{% load socialaccount %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class = "login_page">
    <br><br>
    <h1>LOGIN</h1><br>

    <form method="POST">
        
        {% csrf_token %}
        {{form.as_p}}
    <br><button type="submit">GO!</button><br><br>
    </form>
    <div class = "social_login">
        <h2>social login</h2>
        
        <a href = "{% provider_login_url 'naver' %}" alt="NAVER LOGIN" title="NAVER LOGIN">
        <img src = "{% static 'img/social_login/Log in with NAVER_Official_Green.PNG'%}" alt="NAVER" title="NAVER LOGIN" width=150 hegiht=50></a>
        <a href = "{% provider_login_url 'kakao' %}">
        <img src = "{% static 'img/social_login/kakao_login_medium_narrow.png'%}" alt="KAKAO" title="KAKAO LOGIN" width=150 hegiht=50></a>
        <a href = "{% provider_login_url 'google' %}">
        <img src = "{% static 'img/social_login/btn_google_signin_light_normal_web.png'%}" alt="GOOGLE" title="GOOGLE LOGIN" width=150 hegiht=50></a>

    </div>
</div>
{%endblock%}