
{% extends 'base.html' %}
{% load socialaccount %}


{% block content %}
<h1>로그인</h1>

<form method="POST">
    
    {% csrf_token %}
    {{form.as_p}}
<button type="submit">로그인</button>
</form>
<div class = "social_login">
						
	<a href = "{% provider_login_url 'naver' %}" alt="NAVER LOGIN" title="NAVER LOGIN">
    <img src = "C:\GitHub\Camper_\basestatic\img\social_login\Log in with NAVER_Official_Green.PNG" alt="NAVER"></a>
    <a href = "{% provider_login_url 'kakao' %}">kakao</a>
    <img src = "C:\GitHub\Camper_\basestatic\img\social_login\kakao_login_medium_narrow.png" alt="KAKAO" title="KAKAO LOGIN"></a>
    <a href = "{% provider_login_url 'google' %}">
    <img src = "C:\GitHub\Camper_\basestatic\img\social_login\btn_google_signin_light_normal_web.png" alt="GOOGLE" title="GOOGLE LOGIN"></a>

</div>

{%endblock%}