{% extends 'header.html' %}
{% load socialaccount %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css" />
{% endblock %}


{% block content %}


<form method="POST">

    {% csrf_token %}
    <div class="whole-wrap">
		<div class="container box_1170">
            <div class="section-top-border">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<h3 class="mb-30">SIGN UP</h3>
							<div class="mt-10">
								<input type="text" name="username" placeholder="NAME" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'First Name'" required class="single-input">
							</div>
							
							{% comment %} <div class="mt-10">
								<input type="email" name="email" placeholder="EMAIL" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Email address'" required class="single-input"> {% endcomment %}

								<ul><li>150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</li></ul>
								
							</div>
							<div class="mt-10">
								<input type="password" name="password1" placeholder="PASSWORD"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
									class="single-input">
								<ul>
									<li>다른 개인정보와 비슷한 비밀번호는 사용할 수 없습니다.</li>
									<li>비밀번호는 최소 8자 이상이어야 합니다.</li>
									<li>비밀번호는 일상적으로 사용되는 비밀번호일 수 없습니다.</li>
									<li>비밀번호는 전부 숫자로 할 수 없습니다.</li>
								</ul>
							</div>

							
							<div class="mt-10">
								<input type="password" name="password2" placeholder="PASSWORD CONFIRM"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
									class="single-input">
							</div>
							
							
							{% comment %} <div class="mt-10">
								<input type="radio" name="sex" checked="checked" value="man">남자
								<input type="radio" name="sex" value="woman">여자
							</div> {% endcomment %}


							{% comment %} <div class="mt-10">
								<input type="text" name="location" placeholder="LOCATION"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
									class="single-input">
							</div>
							<div class="mt-10">
								<input type="number" name="age" placeholder="AGE"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
									class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" name="nickname" placeholder="NICKNAME"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
									class="single-input">
							</div> {% endcomment %}
							<br>
							<br>
							<button type="submit" class="btn btn-primary btn-lg" value = '회원가입'>가입</button>
						{% comment %} <div class = "social_login">
						
							<a href = "{% provider_login_url 'naver' %}">NAVER LOGIN</a><br>
						</div> {% endcomment %}


					</div>
				</div>
			</div>
        </div>
    </div>

</form>




{%endblock%}