{% extends 'header.html' %}
{% load socialaccount %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
{% endblock %}

{% block content %}

<body>
<div class="mapage" style="display:flex; align-items: center; flex-direction: column;">
    <form style="width: 400px" method="POST">
    {% csrf_token %}
    {{mypage_form}}
    <button style="width: 364px;" type="submit">GO!</button><br><br>
    </form>
</div>
</body>
{% endblock %}



<form method="POST">
{% csrf_token %}
{{mypage_form}}
<input type ="submit" value="확인">
</form>
